.skillsContainer {
  margin-bottom: 40px;
  background: var(--color-1);

  h2 {
    margin-bottom: 20px;
  }

  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 40px 0;
    white-space: nowrap;
    position: relative;
  
    &:before,
    &:after {
      position: absolute;
      top: 0;
      width: 150px;
      height: 100%;
      content: "";
      z-index: 2;
    }
  
    &:before {
      left: 0;
      background: linear-gradient(to left, rgba(11, 12, 16, 0), var(--color-1));
    }
  
    // Dégradé à droite : transparent vers foncé (vers la gauche)
    &:after {
      right: 0;
      background: linear-gradient(to right, rgba(11, 12, 16, 0), var(--color-1));
    }
  
    &:hover .logos-slide {
      animation-play-state: paused;
    }
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  
    img {
      height: 70px;
      margin: 0 40px;
      vertical-align: middle;
    }
  }
}


