.burger-menu-container {
  position: relative;
  z-index: 1000;

  .burger-icon {
    width: 25px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    span {
      display: block;
      height: 3px;
      width: 100%;
      background-color: var(--color-4);
      border-radius: 2px;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 3px);
      }

      span:nth-child(2) {
        transform: rotate(-45deg) translate(5px, -4px);
      }
    }
  }



.menu {
  position: absolute;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  background-color: var(--color-2);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  padding-top: 4rem;

  ul {
    list-style: none;
    padding: 0;
    color: var(--color-4);

    li {
      padding: 1rem;
      text-align: center;

      a {
        text-decoration: none;
        color: var(--color-4);
        font-weight: bold;
        transition: color 0.2s;

        &:hover {
          color: #007bff;
        }
      }
    }
  }

  &.open {
    right: 0;
  }
}
}
