.w-introAndPortrait {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .w-intro {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .intro {
          color: var(--color-6);
          margin-bottom: 40px;

            .title {
                font-size: 40px;
                font-weight: bolder;
            }

            .w-homeTitle {
                position: relative;
                height: 40px;
                overflow: hidden;
                display: flex;
                align-items: center;
              
                .staticTitle {
                  position: absolute;
                  left: 0;
                  font-size: 40px;
                  font-weight: bolder;
                  color: var(--color-6);
                }
              
                .animatedTitles {
                  display: flex;
                  flex-direction: column;
                  position: absolute;
                  top: 0;
                  left: 150px;
                  animation: vertical-slide-homeTitle 8s infinite steps(8); // Nombre total de titres
              
                  .homeTitle {
                    font-size: 40px;
                    font-weight: bolder;
                    color: var(--color-4);
                    height: 40px;
                    display: flex;
                    align-items: center;
                  }
                }
              }
              
              // Animation modifiée pour un défilement continu
              @keyframes vertical-slide-homeTitle {
                0%   { transform: translateY(0); }
                20%  { transform: translateY(0); }
                25%  { transform: translateY(-40px); }
                45%  { transform: translateY(-40px); }
                50%  { transform: translateY(-80px); }
                70%  { transform: translateY(-80px); }
                75%  { transform: translateY(-120px); }
                95%  { transform: translateY(-120px); }
                100% { transform: translateY(-160px); } // Continuer le défilement sans revenir à 0
              }
            

            .introText {
                font-size: 20px;
                margin-top: 40px;
                color: var(--color-3);
            }
        }
    }

    .w-buttonIntro {
        height: 50px;
        display: flex;
        justify-content: flex-start;

        .buttonIntro {
            width: 200px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-4);
            color: var(--color-1);
            font-size: 16px;
            font-weight: bolder;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .w-portrait {
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

        .w-portraitAndVideo {
            position: relative;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            overflow: hidden;
            border: solid 2px var(--color-5);

            .portrait {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 10;
            }
        }
    }
    
}

@media (max-width: 1200px) {

    .w-introAndPortrait {
        .w-intro {
            .intro {
                .introText {
                    font-size: 16px;
                }

                .title {
                    font-size: 30px;
                }

                .w-homeTitle {
                    .staticTitle{
                        font-size: 30px;
                    }
                    .animatedTitles{
                        left: 115px;

                        .homeTitle{
                            font-size: 30px;
                        }
                    }
                }
            }
        }

      .w-portrait {

        .w-buttonIntro {
  
          .buttonIntro {
              width: 150px;
          }
      }

        .w-portraitAndVideo {
            width: 220px;
            height: 220px;
        }
      }
    }
  }
  
@media (max-width: 768px) {
  .w-introAndPortrait {
    .w-intro {
      .intro {
        .title {
          font-size: 24px;
        }
        .w-homeTitle {
          .staticTitle {
            font-size: 24px;
          }
          .animatedTitles {
            left: 90px;

            .homeTitle{
              font-size: 24px;
            }

          }
        }
      }
    }
    .w-portrait {
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    }
  }
}

  
  @media (max-width: 480px) {
    .w-homeTitle {
      .staticTitle,
      .homeTitle {
        font-size: 20px;
      }
      .animatedTitles {
        left: 100px;
      }
    }
  
    .w-intro {
      .title {
        font-size: 30px;
      }
  
      .introText {
        font-size: 14px;
      }
    }
  
    .w-portrait {
      .w-portraitAndVideo {
        width: 160px;
        height: 160px;
      }
    }
  }
  