.w-introAndPortrait {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 25px 0 80px 0;
    margin-bottom: 40px;

    .w-intro {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);


        .intro {
            font-size: 16px;
            color: var(--color-6);

            .title {
                font-size: 40px;
                font-weight: bolder;
            }

            .w-homeTitle {
                width: 550px;
                display: flex;
                align-items: center;
                position: relative;
                height: 40px;
                overflow: hidden;

                .staticTitle {
                    position: absolute;
                    left: 0;
                    font-size: 40px;
                    font-weight: bolder;
                    color: var(--color-6);
                }

                .animatedTitles {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    position: absolute;
                    top: 0;
                    left: 150px;
                    animation: slide 8s infinite linear;
                }

                .homeTitle {
                    font-size: 40px;
                    font-weight: bolder;
                    color: var(--color-4);
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .introText {
                margin-top: 40px;
                color: var(--color-3);
            }
        }
    }

    .w-buttonIntro {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;

        .buttonIntro {
            width: 200px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-4);
            color: var(--color-1);
            font-size: 16px;
            font-weight: bolder;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .w-portrait {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .w-darkModeAndLanguage {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 100px;
        
            .darkModeButton {
                width: 60px;
                height: 30px;
                background-color: var(--color-2);
                border-radius: 15px;
                border: none;
                position: relative;
                cursor: pointer;
                transition: background-color 0.3s;
        
                &.active {
                    background-color: var(--color-4);
                }
        
                .darkModeIcon {
                    width: 26px;
                    height: 26px;
                    background-color: white;
                    border-radius: 50%;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    transition: transform 0.3s ease; // Transition douce pour l'animation
                    transform: translateX(0); // Position par défaut
        
                    &.active {
                        transform: translateX(30px); // Déplacement vers la droite quand active
                    }
                }
            }
        }
        
        
        
    
        
        


        .w-portraitAndVideo {
            position: relative;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            overflow: hidden;


            .portrait {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 10;
            }
        }


    }
}


@keyframes slide {
0% { transform: translateY(0); }
20% { transform: translateY(0); }
25% { transform: translateY(-40px); }
45% { transform: translateY(-40px); }
50% { transform: translateY(-80px); }
70% { transform: translateY(-80px); }
75% { transform: translateY(-120px); }
95% { transform: translateY(-120px); }
100% { transform: translateY(-160px); }
}
